<div{{ attributes.addClass(['property-pagination']) }}>
  {% if prev_url %}<a href="{{ prev_url }}" class="property-pagination__prev">{{ 'Previous object'|t }}</a>{% endif %}
  {% if overview_url %}<a href="{{ overview_url }}" class="button property-pagination__overview">{{ 'to overview'|t }}</a>{% endif %}
  {% if next_url %}<a href="{{ next_url }}" class="property-pagination__next">{{ 'Next object'|t }}</a>{% endif %}
</div>
