{#
/**
 * @file re_property.html.twig
 * Default theme implementation to present real estate property data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_re_property()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(['property']) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
